body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 100vh;
  }
  
  form {
    background-color: rgb(255, 255, 255);
    color: black;
  
    border-radius: 10px;
    padding: 20px; /* Agregar espacio interno */
    display: flex;
    flex-direction: column; /* Para que los elementos se apilen */
    align-items: center; /* Centrar los elementos horizontalmente */
  }
  label {
    margin-top: 15px;
    margin-bottom: 5px; /* Reducir el espacio entre label e input */
    display: block;
    text-align: center; /* Centrar el texto del label */
    width: 100%; /* Asegurar que ocupe todo el ancho */
  }
  
  input, select {
    width: 80%; /* Ajusta el ancho para que no sean muy pequeños */
    padding: 8px; /* Añadir algo de padding */
    border-radius: 5px; /* Bordes redondeados */
    border: none;
  }
  
  input, select{
    
    width: 50%
    
  
  }
  input,password{
    margin-bottom: 15px;
    
  }

  button, submit{
    margin-top: 10px;
  }
  button {
    margin-top: 10;
    padding: 10px 20px;
    
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  
  }
  
  button:hover {
    background-color: gray;
  }
  
  .button-container{
    display: flex;
    justify-content: center; /* Centra los botones */
    gap: 10px; /* Agrega espacio entre botones */
  }