/* Estilos generales */
body{
    background-color: #535b56;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
     /* background-image: url("../assets/Images/dos.jpg"); 
 */
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
  

}
.Welcom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-image: url("../assets/Images/dos.jpg");

    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .contenedor{
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    
  }
  
  

  .Welcom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
  }
  
 
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
  }

  /* parrafo */
  p{
    font-family: Arial, Helvetica, sans-serif;
    color: #080808;
    font-weight: bold;
    padding: 10px;
    
  }
  
  /* Contenedor de botones */
  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 15px; 
  }
  
  /* Botones */
  button {
    width: 200px;
    padding: 12px;
    margin-bottom:10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  
  button:first-child {
    background-color: #A62F03;
    color: white;
  }
  
  button:first-child:hover {
    background-color: #590202;
  }
  
  button:last-child {
    background-color: #d30808;
    color: white;
  }
  
  button:last-child:hover {
    background-color: #A62F03;
  }

header{
  position: fixed;  /* Hace que el header permanezca en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #20c961;
  color: rgb(255, 255, 255);
  padding: 15px 0;
  font-size: 24px;
  font-weight: bold;
  z-index: 1000; /* Asegura que el header quede por encima del contenido */
  display: flex;
  }
  .principal-h1{
    color: aliceblue;
    margin-left:30px ;
  }
  img{
    width: 90px;
    height: 90px;
    object-fit: contain; 
    border-radius: 50%;
    display: flex;
    justify-content: end;
    margin-left: 30px;
  }
   